/*
 * https://github.com/ggodone-maresca/JS-Animated-Bubbles-Background
 */

html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
  background-color: #59db66;
  background-image: linear-gradient(to right, #36d1dc, #5b86e5);
  background-attachment: fixed;
}
html * {
  z-index: 1;
  position: relative;
}
#bubbleContainer {
  z-index: 0;
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}
#bubbleContainer div {
  position: fixed;
  z-index: -1;
  border-radius: 1000px;
}
