/*main page */

@import url('https://fonts.googleapis.com/css?family=Jura');
@import url('https://fonts.googleapis.com/css?family=Lato');

#owen {
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: left;
  z-index: 100;
  display: block;
  color: #fff;
  font-family: 'Jura', sans-serif;
}

#owen-social {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

/* other pages */

html {
  background: linear-gradient(to right, #000046, #1cb5e0);
  -webkit-animation: GradientAnimation 23s ease infinite;
  -moz-animation: GradientAnimation 23s ease infinite;
  animation: GradientAnimation 23s ease infinite;
  background-size: 400% 400%;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

#owen-page {
  font-family: 'Jura', sans-serif;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 10px;
}

#owen-text {
  font-family: 'Lato', sans-serif;
  text-align: left;
  width: 100%;
  color: #fff;
}

@-webkit-keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes GradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
