@import url('https://fonts.googleapis.com/css?family=Comfortaa');

* {
  font-family: 'Comfortaa', cursive;
  color: #c1b6b6 !important;
}

h1 a {
  color: inherit;
}

.frame {
  line-height: 1.5;
  font-size: 1.5em;
  max-width: 50em !important;
  margin: auto;
}
